
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-obj{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(104, 74, 34);
}

.close-btn{
    border: none;
    background-color: transparent;
    color: rgb(193, 10, 10);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
